@import "../../../assets/constants/constants.scss";

.header {
  height: $header-height;
  display: flex;
  justify-content: space-between;
  padding: 0 0 0 10px;
  align-items: center;
}

.button-login,
.button-logout {
  button {
    width: 100px;
    height: 30px;
    background-color: $blueColor;
    color: $noColor;
    border-radius: 20px 0 0 20px;
    font-size: 15px;
    font-weight: normal;
    line-height: 0;
  }
}

.button-login:hover,
.button-logout:hover {
  cursor: pointer;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: $header-height;
  background-color: #acc2d4;

  .header-logo img {
    width: 105px;
  }
}

.hidden-btn {
  display: none;
}

.user-name {
  display: flex;
  align-items: center;
  width: 350px;
  height: 40px;
}

.wrapper-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
