<div class="response-wrapper">

<img src="{{ criminal.images[0].thumb }}" alt="foto" />
<div><span class="title-name">name:</span> {{ criminal.aliases }}</div>
<div><span class="title-name">sex: </span> {{ criminal.sex }}</div>
<div><span class="title-name">date of birth: </span>{{ criminal.dates_of_birth_used }}</div>
<div><span class="title-name">weight max: </span> {{ criminal.weight_max }}</div>

<div class="additional-content" *ngIf="isViewMore">
  <div><span class="title-name">description: </span>{{ criminal.description }}</div>
</div>
<button (click)="viewMore()">view more</button>
</div>
